body {
    margin: 0;
    background-color: ghostwhite;
    font-family: "Verdana";
}


.banner {
    position: relative;
/*    display: inline-block;*/
    /*top: 0;
    bottom: 0;*/
    height: auto;
    margin: 0;
    width: 100%;
    max-width: 100%;
    background-color: black;
    background-image: url("banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-section {
    position: relative;
/*    display: inline-block;*/
    padding: 75px;
/*    min-width: 930px;*/
/*max-width: 720px;*/
/*    max-height: 100px;*/

/*max-width: 100%;*/
    margin: auto;
    color: white;
    font-family: "Verdana";
/*    display: inline-flex;*/
/*    max-width:100%;*/
    height:auto;
    
}




.button1 {
    --animation-color: #07f2f1;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 3em;
    font-family: "Arial";
    position: relative;
    color: White;
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    text-shadow: 2px 2px 5px blueviolet;
    width: 0%;
    inset: 0;
    border-right: 6px solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
}

.button1:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 24px var(--animation-color))
}


.link-text {
    position: absolute;
    display: flex;
    content: attr(data-text);
    color: #b1d1fc;
    color: var(--animation-color);
    width: 0%;
    font-size: 50%;
    left: 15px;
    bottom: 100%;
    overflow: hidden;
    transition: 0.5s;

}

.button1:hover .link-text {
    width: 100%;
}


@media (max-width: 720px) {
    .button1{
        font-size: 2.5em;


    }
    img{
      width: 120px;
    }
    h1{
      font-size: 1.5em;
    }
